body {
	background-image: url("lifesabeach.jpg");
	background-position: center center;
  	background-repeat: no-repeat;
  	background-attachment: fixed;
  	background-size: cover;
 	background-color: #323232;
 	position: relative;
}

h1 {
  height: 100px;
  color: white;
  margin: auto;
  padding: 20px;
  width: 700px;
  font-family: Verdana;
  font-size: 35px;
  text-align: center;

}

#travelclimb {
  height: 300px;
  margin: auto;
  padding: 20px;
  width: 600px;
  position: absolute;
  top: 850px;
  right: 20px;
}

.subheadings {
	color: maroon;
	background-color: gold;
}

a:visited {
	color: red;
}

@media only screen and (max-width: 756px) {
  body {
    background-image: url("lifesabeach.jpg");
  }
}